services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    ports: 
      - "5000:5000"
  
  app:
    build:
      context: .
      dockerfile: Dockerfile.app
    ports:
      - "8501:8501"
    environment:
      - API_URL=http://api:5000/predict
    depends_on:
      - api


